html, body {
    padding: 0;
    width: 100%;
}
#title {
    position: absolute;
    top:35%;
    padding-left: max(5%);
    font-size: 4.50em;
    color: white;
    font-family: "Lato", sans-serif;
}
#navbar-index {
    width: 100%;
}
#login {
    position: absolute;
    top: 65%;
    left:80.28%;
    left: min(1%) max(125%);
}
#login_page-index {
    position: absolute;
    top: 90%;
    left: 52%;
    font: 14px;
    color: black;
    font-family: "Lato", sans-serif;
}
#user {
    position: absolute;
    top: 45%;
    left: 65%;
    width: 22.72%;
    height: 40px;
    border-radius: 10px;
}
#senha {
    position: absolute;
    top: 55%;
    left: 65%;
    width: 22.72%;
    height: 40px;
    border-radius: 10px;
}
.sidenav {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #000;
}
button {
    background: none;
    color: black;
    width: 100px;
    height: 40px;
    border: 1px solid #000000;
    font-size: 14px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
    font-family: "Lato", sans-serif;
}
button:fucus {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}
p {
    display: none;
}
button::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);
}
button:hover {
    background: #000000;
    cursor: pointer;
    color:white;
}

button:hover:beforce {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}
@media only screen and (max-width: 425px) {
    .sidenav {
        width: 100%;
    }
    #login {
        position: absolute;
        left: 63.28%;
        top: 147%;
    }
    p {
        position: absolute;
        top: 170%;
        display: unset;
        color: white;
    }
    #title {
        font-size: 360%;
    }
    #user {
        position: absolute;
        left: 12%;
        top: 122%;
        height: 47px;
        width: 75%;
    }
    #senha {
        position: absolute;
        left: 12%;
        top: 133.5%;
        height: 47px;
        width: 75%;
    }
    #login_page-index {
        position: absolute;
        top: 160%;
        left: 13%;
    }
}